<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="VizFlux Template">
    <meta name="keywords" content="VizFlux, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/favicon.webp">
    <title>VizFlux :: Visual Art Solution</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <!-- <a class="navbar-brand" href={{url_for('index_kor')}}>VizFlux<span>.</span></a> -->

                        <a href={{url_for('index_kor')}}><img src="../static/img/logo.webp" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href={{url_for('index_kor')}}>Home</a></li>
                                <li><a href={{url_for('about_kor')}}>About</a></li>
                                <li><a href={{url_for('portfolio_architecture')}}>Portfolio</a>
                                    <ul class="dropdown">
                                        <li><a href={{url_for('portfolio_architecture')}}>Architecture</a></li>
                                        <li><a href={{url_for('portfolio_environment')}}>Environment</a></li>
                                        <li><a href={{url_for('portfolio_character')}}>Character</a></li>
                                    </ul>
                                </li>
                                <li><a href={{url_for('service_kor')}}>Service</a></li>
                                <li><a href={{url_for('contact_kor')}}>Contact</a></li>
                            </ul>

                        </nav>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href={{url_for('index_kor')}} class="checked">KOR</a>
                            <a href={{url_for('index_en')}}>EN</a>

                        </div>

                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="https://i.ibb.co/K94hpFy/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Blog</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Bumper Ads: How to Tell a Story in 6 Seconds</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Recruitment Marketing for the Digital Age: A Definitive Guide</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Say Bonjour! Ola! & Guten Tag! to Our New Team Members</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Recruitment Marketing for the Digital Age: A Definitive Guide</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Pay-Per-Click Marketing: A ‘Nuts & Bolts’ Guide</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>Vital Launches New University Website Design for...</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>How and When to Write a Press Release: Best Practices...</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the cool
                            features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination__option blog__pagi">
                        <a href="#" class="arrow__pagination left__arrow"><span class="arrow_left"></span> Prev</a>
                        <a href="#" class="number__pagination">1</a>
                        <a href="#" class="number__pagination">2</a>
                        <a href="#" class="arrow__pagination right__arrow">Next <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="../static/img/logo.webp" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2006 by Matt Hobbs and Cael Jones, VizFluxis an award-winning, full-service
                                production company specializing.</p>
                            <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Browse Archive</a></li>
                                <li><a href="#">Video for web</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>VizFluxis an award-winning, full-service production company specializing.</p>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/masonry.pkgd.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/../static/js/main.js"></script>
</body>

</html>