<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="VizFlux Template">
    <meta name="keywords" content="VizFlux, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/favicon.webp">
    <title>VizFlux :: Visual Art Solution</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <!-- <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css"> -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <!-- <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css"> -->
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body oncontextmenu="return false">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">

                        <a href='/'><img src="../static/img/logo.webp" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="home active"><a href="#home">Home</a></li>
                                <li class='about'><a class='active' href="#about">About</a></li>
                                <li class='service'><a href="#service">Service</a></li>
                                <li><a href='/portfolio_architecture'>Portfolio</a>
                                    <ul class="dropdown">
                                        <li><a href='/portfolio_architecture'>Architecture</a></li>
                                        <li><a href='/portfolio_environment'>Environment</a></li>
                                        <li><a href='/portfolio_character'>Character</a></li>
                                    </ul>
                                </li>
                                <li><a href='/contact_kor'>Contact</a></li>
                            </ul>

                        </nav>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href='/' class="checked">KOR</a>
                            <a href='/index_en'>ENG</a>

                        </div>

                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero" id="home">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="https://i.ibb.co/Y2Djb4h/2409192-interior-antique.webp
            ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Game Art and Archi Viz Studio</span>
                                <h2>Architecture Visualization</h2>
                                <a href='/portfolio_architecture' class="primary-btn">포트폴리오 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="https://i.ibb.co/wwTrRk2/hero-1.webp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Game Art and Archi Viz Studio</span>
                                <h2>Realtime<br>3D Environment</h2>
                                <a href='/portfolio_environment' class="primary-btn">포트폴리오 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="https://i.ibb.co/4s71ypJ/hero-3.webp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Game Art and Archi Viz Studio</span>
                                <h2>Realtime<br>3D Character</h2>
                                <a href='/portfolio_character' class="primary-btn">포트폴리오 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Begin -->
    <section class="about-bg spad" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about__text">
                        <div class="section-title">
                            <span>VizFlux</span>
                            <h2>WHo we are?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="about__text__desc">
                            <h2>변화하는 세상을 위한 3D 솔루션</h2>
                            <p>VizFlux는 빠르게 변화하는 디지털 세상에서 고객의 비전을 3D 디자인으로 실현하는 전문가 그룹입니다.<br>
                                최신 기술과 창의성을 결합해 맞춤형 솔루션으로 더욱 향상된 가치를 제공하겠습니다.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="about__text">
                        <div class="section-title">
                            <span>VizFlux</span>
                            <h2>Core Value</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="services__item">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <h4>우리는 생산성 향상에 관심이 많아야합니다.</h4>
                                <p>더 많은 고객들에게 더 좋은 퀄리티의 프로덕트를 만들어내기 위함입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services__item">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-1.png" alt="">
                                </div>
                            </div>

                            <div class="col-lg-10">

                                <h4>우리는 문제를 해결하기 위해 끈질기게 시도해야합니다.</h4>
                                <p>문제의 원인을 끝까지 분석해서 해결해야합니다. 일정에 쫓겨 문제를 임시조치만하고 넘어가는것을 지양해야합니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="services__item">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-2.png" alt="">
                                </div>
                            </div>

                            <div class="col-lg-10">
                                <h4>우리는 최신기술, 업계동향을 가장 빠르게 파악하여 연구해야합니다.</h4>
                                <p>지금도 계속해서 기술은 발전해가고있습니다. 기술부채가 쌓이지 않도록 지속적으로 연구하고 고민해야합니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="services__item">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-3.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <h4>우리는 팀플레이를 중요하게 생각해야합니다.</h4>
                                <p>한명의 슈퍼스타에 의존하기 보다는 팀으로써 성과를 이루기 위해 노력해야합니다. 그런 과정에서 지식공유와 경험공유가 
                                    정말 중요합니다.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-4">
                    <div class="about__text">
                        <div class="section-title">
                            <span>VizFlux</span>
                            <h2>Office</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                    data-setbg="../static/img/about/about-1.jpg"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="../static/img/about/about-2.jpg"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="../static/img/about/about-3.jpg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Logo Begin -->
        <!-- <div class="logo spad" >
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>비즈플럭스의 파트너</h2>
                </div>
                <div class="logo__carousel owl-carousel">
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-1.png" alt=""></a>
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-2.png" alt=""></a>
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-3.png" alt=""></a>
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-4.png" alt=""></a>
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-5.png" alt=""></a>
                    <a href="#" class="logo__item"><img src="../static/img/logo/logo-6.png" alt=""></a>
                    
                </div>
            </div>
        </div> -->
        <!-- Logo End -->
    </section>
    <!-- About Section End -->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" id="service" data-setbg="../static/img/team-bg.jpg">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span>비즈플럭스의</span>
                            <h2>서비스 분야</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-1.png" alt="">
                                </div>
                                <h4>Game Art</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-2.png" alt="">
                                </div>
                                <h4>Archi-Viz</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-3.png" alt="">
                                </div>
                                <h4>VFX</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/img/icons/si-4.png" alt="">
                                </div>
                                <h4>Animation</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <section class="services spad">

        <!-- Team Section Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>비즈플럭스는</span>
                        <h2>다음 내용을 약속드립니다</h2>
                    </div>
                </div>
            </div>
           



            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 p-0">
                    <div class="team__item set-bg" data-setbg="https://i.ibb.co/Pz8tNMf/share.webp">
                        <div class="team__item__text">
                            <h4>실시간 진행상황 공유</h4>

                            <p>고객사에 프로젝트 진행상황을 주간보고의 형태로 공유해드립니다.</p>
                            <p>매주 금요일에 PM이 진행상황을 정리하여 차주 월요일에 고객사에 공유드립니다.</p>
                            <p>원하실 경우, 플로우에 초대하여 실시간으로 진행상황을 확인하실 수 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--second set-bg" data-setbg="https://i.ibb.co/7W7jXZK/meeting.webp">
                        <div class="team__item__text">
                            <h4>빠르고 정확한 소통</h4>
                            <p>프로젝트 시작되면 단톡방이 개설됩니다.</p>
                            <p>해당 단톡방에는 대표자, PM, 디자이너등 프로젝트 관련 인원이 모두 초대됩니다.</p>
                            <p>프로젝트가 종료되더라도 해당 단톡방은 계속 유지되며, 결과물의 피드백에 최대한 빠르게 대응해드리고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--third set-bg" data-setbg="https://i.ibb.co/2ckmT1Y/working.webp">
                        <div class="team__item__text">

                            <h4>무제한 퀄리티 피드백</h4>
                            <p>주간 공유와 소통을 통해 문제점을 미리 파악하여 오류를 방지합니다.</p>

                            <p>비즈플럭스는 고품질의 결과를 추구하기 때문에 피드백이 적습니다.</p>
                            <p>기획 변경이 아닌 퀄리티 이슈에 대해서 무제한으로 수정해드립니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->


    <!-- Call To Action Section Begin -->
    <section class="callto sp__callto" >
        <div class="container">

        <div class="callto__services spad set-bg" data-setbg="../static/img/calltos-bg.jpg">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="callto__text">
                        <p>아이디어만 있으셔도 괜찮습니다.</p>

                        <h2>비즈플럭스에서 구체화 해드릴게요</h2>
                        <a href='/contact_kor'>상담 신청하기</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Call To Action Section End -->
            
    <section class="services spad">


        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <h2>궁금하실만한 내용을<br>미리 준비했어요</h2>
                    </div>
                </div>
                <div class="col-lg-8">

                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            아직 진행할지 불확실한데, 미팅을 요청해도 될까요?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        네 괜찮습니다. 미팅 단계에서 불필요한 요소을 제거해드리고, 예산과 일정내에서 가장 이상적인 프로젝트 진행방향을 제안드립니다. 초기단계일수록 저희와 미팅하시길 권장해드리고 있습니다.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            대면미팅이 가능한가요?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        네 가능합니다. 비즈플럭스에서는 정확한 견적 산출과 요구사항 수집을 위해 오프라인 미팅을 권장드리고 있습니다. 수도권 방문 미팅이 가능합니다.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            수정은 몇 번 가능한가요?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        네 물론입니다. 계약서상 하자보수 1년을 명시하고 있기 때문에 걱정하지 않으셔도 됩니다.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            작업 후 산출물을 전달 받을 수 있나요?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        네 물론입니다. 3D 오브젝트 파일, 텍스처, 엔진 프로젝트를 제공해드립니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Accodrion -->
                  
                    </div>
                </div>
            <!-- </div> -->
            <!--// end row -->
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="../static/img/logo.webp" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__right">
                            <p>© VizFlux All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>


  
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- <script src="../static/js/jquery.magnific-popup.min.js"></script> -->
    <!-- <script src="../static/js/mixitup.min.js"></script> -->
    <script src="../static/js/masonry.pkgd.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <!-- <script src="../static/js/magnific-popup-options.js"></script> -->

    <script src="../static/js/main.js"></script>
    <!-- Google Maps --> 
</body>

</html>